{
    "env": {
        "test": {
            "presets": ["es2015"],
            "plugins": []
        },
        "dev": {
            "presets": ["es2015"],
            "plugins": []
        },
        "production": {
            "presets": ["es2015"],
            "plugins": []
        }
    }
}
