.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#fff, 0.8);

    .button-close {
        position: absolute;
        right: 12px;
        top: -2px;
    }
}

.modal-content {
    position: relative;
    width: 100%;
    max-width: 750px;
    padding: 10px;
    font-size: 16px;
}

/* Modal specific related */
.modal {
}
