<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{= it.projectId }} | {{= it.projectName }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex, nofollow">
    </head>
    <body class="no-script">
        <style>
            TODO: Set style...
        </style>
        <div class="media-is-tablet"></div>
        <div class="media-is-mobile"></div>
        <div class="media-is-over"></div>

        <div class="container">{{= it.template }}</div>

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script>
            TODO: Set general script...
        </script>
    </body>
</html>
